#background {
  margin: 0;
  padding: 0;
  background-image: url(./images/Background_pexel.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}



.logo{
  float:left;
}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 100%;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  text-align:right;
  position: sticky;
}
.navigation-bar img{
  float:left;
  height: 100%;
  position: relative;
  padding-left: 10px;
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
   position: sticky;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
   position: sticky;
}

.navigation-bar li a {
  color: black;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
  position: sticky;
}

#menu {
  float: right;
  position: sticky;
}

.endracism {
  font-family: serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 10px;
  color: #ffffff;
  position: relative;
  padding-top: 500px;
  text-align: center;
}
.downloads {
    padding-top: 10%;
    margin-left: 15%;
    
}
#safari {
    max-width: 20%;
    height: auto;
}
#chrome {
    max-width: 20%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}
#firefox {
    max-width: 20%;
    height: auto;
    text-align: center;    
}

.about {
    padding-top: 10%;
    margin-left: 15%;
}
#facebook {
    max-width: 20%;
    height: auto;
}
#twitter {
    max-width: 20%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}
#instagram {
    max-width: 20%;
    height: auto;
    text-align: center;    
}

