.background {
  margin: 0;
  padding: 0;
  background-image: url(./images/Background_pexel.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100%; 
}

#information {
    height:110vh;
    background-color:white;
    padding-top:30vh;
    padding-left: 25vw;
    padding-right: 25vw;
    font-family: 'PT Serif', serif;
    font-size: 4vw;
    text-align: center;
}

#icon_home{
    padding-top: 10vh;
    height: auto;
    width: 25vw;
}


.logo{
  float:left;
}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 100%;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  text-align:right;
}
.navigation-bar img{
  float:left;
  height: 100%;
  position: relative;
  padding-left: 10px;
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
    
}

.navigation-bar li a {
  color: black;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}
.navigation-bar li a:hover {
  color: white;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}

#menu {
  float: right;
}

.endracism {
  min-height: 100vh;
  font-family: 'Playfair Display';
  font-size: 52px;
  text-align: center;
  letter-spacing: 5px;
  color: #ffffff;
  position: relative;
  padding-top: 50vh;
  text-align: center;
}

.downloads {
    padding-top: 10%;
    margin-left: 15%;
    height:250px;   
}
#safari {
    max-width: 20%;
    height: auto;
}
#chrome {
    max-width: 20vw;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
}
#firefox {
    max-width: 20%;
    height: auto;
    text-align: center;    
}

.about {
    padding-bottom: 50vh;
    padding-top: 10%;
    margin-left: 15%;
    height:250px; 
}
#facebook {
    max-width: 20%;
    height: auto;
}
#twitter {
    max-width: 20%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}
#instagram {
    max-width: 20%;
    height: auto;
    text-align: center;    
}

#downloadpage {
    padding-top: 20vh;
    display: block;''
    height: auto;
    width: 35vw;
    vertical-align: middle;
    margin: auto;
}
#thankyou{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 1vh;
    font-size: 4vw;
}
#shortly{
        text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1vh;
    font-size: 2vw;
}
#click{
        text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 4vh;
    font-size: 1.5vw;
}


.about_type{
    padding-top: -5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 100vh;
    text-align: left;
    font-family: 'PT Serif', serif;
    font-weight: 300;
    font-size: 6vw;
}

#racism {
    color: red;
}
.downloads_type{
    font-family: 'PT Serif', serif;
    font-size: 3vw;
    font-weight: 400;
    text-align: left;
    padding-left: 20vw;
    padding-top: 20vh;
    display: inline-flex;
    height: 100vh;
}

.download_logo {
    height: auto;
    width: 50vw;
    max-width: 500px;
    float:right;
    padding-left: 25vw; 
}
.update{
    height: 100vh;
    text-align: left;
    font-family: 'PT Serif', serif;
    font-weight: 200;
    font-size: 2vw;   
    display: table;
    width: 100%;
    line-height: 5.5vh;
}



.update1 {
    display: table-cell;
    padding: 5vw;
}

@media only screen and (max-width: 600px) {
    .update1 { 
        display: block;
        width: 100%;
    }
}

h2{
    text-align: left;
    font-family: 'PT Serif', serif;
    font-weight: 500;
    font-size: 4vw;
}




